body{
  background-color:seashell;
}

.app {
  text-align: center;
  display: flex;

}


h1{
  text-align: center;
}
.pleaseflex{
display:flex;
flex-wrap:wrap;
}

.card{
    text-align:center;
    margin:2%;  
   background-color: antiquewhite;
  
    border-radius:10px;    
}
    img{
   width:20%
}

