body{
  background-color:seashell;
}

.app {
  text-align: center;
}

h1{
  text-align: center;
}

.pleaseflex{
display: flex;
flex-direction: row;
flex-wrap:wrap;
}

.card{
    text-align:center;
    margin:2%;  
    background-color: antiquewhite;
    width:30%;
    border-radius:10px;    
}
    img{
   width:20%
}

